@import 'bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';

$title-color: #3675db;
$blanc: #FFFFFF;
$rouge: #A80000;

body{
	margin: 0px;
	padding: 0px;
}
.header{
	background-color: $rouge;
	color: $blanc;
	height:100px;
	padding:4px 18px 4px 18px;
	.navbar-brand {
		float:left;
		img {
			height:92px;
			margin-top:-18px;
		}
	}
	.navbar-nav {
		list-style-type : none;
		float:right;
		margin-top:-15px;
		li {
			display : inline-block;
			padding : 0 0.5em;
			img {
				display:block;
				margin-left:auto;
				margin-right:auto;
				margin-bottom:-8px
			}
			a {
				color: $blanc;
				text-decoration:none;
				font-family: 'Shadows Into Light', cursive;
				font-size:1.8em;
				line-height:20px;
			}
		}
		.inactive{
			a{
				opacity:0.7;
			}
			img{
				opacity:0.7;
			}
		}
	}
	#navbar-search {
		display:block;
		margin:0 auto;
		width:600px;
		.champ{
			border-radius:5px;
			height:40px;
			width:400px;
			padding-left: 5px;
			margin-bottom: 10px;
			float:left;
			-webkit-appearance: none;
			-webkit-transition: all 0.30s ease-in-out;
			-moz-transition: all 0.30s ease-in-out;
			-ms-transition: all 0.30s ease-in-out;
			-o-transition: all 0.30s ease-in-out;
			outline: none;
		}
		.champ:focus{
			box-shadow: 0 0 5px rgba(232, 0, 0, 1);
			border: 1px solid rgba(232, 0, 0, 1);
		}
		.bouton{
			    background-color: #A80000;
				border: none;
				color: #FFFFFF;
				height: 40px;
				font-family: 'Shadows Into Light', cursive;
				font-size: 1.8em;
				margin-left:10px;
		}
	}
}
.footer{
	clear:both;
	background-color: $rouge;
	color: $blanc;
	height:450px;
	.col1{
		float:left;
		border-right:1px solid $blanc;
		padding:4px 18px 4px 18px;
		width: calc(50% - 36px);
		h3{
			font-family: 'Shadows Into Light', cursive;
			font-size: 1.8em;
			color:$blanc;
			text-align:center;
		}
		.fa{
			margin-right:10px;
		}
	}
	.col2{
		float:left;
		padding:4px 18px 4px 18px;
		width: calc(49% - 36px);
		h3{
			font-family: 'Shadows Into Light', cursive;
			font-size: 1.8em;
			color:$blanc;
			text-align:center;
		}
		.icons{
			margin:0 auto;
			margin-top:80px;
			text-align:center;
			.fa{
				margin-right:20px;
				margin-left:20px;
			}
		}
	}
}
#wowslider-container1{
	display:block !important;
}
#pres-movieexp{
	text-align:center;
	width:100%;
	.texte{
		display:inline-block;
		vertical-align:middle;
		float:left;
		padding:0 20px 0 20px;
		width: calc(60% - 40px);
		h2{
			font-family: 'Shadows Into Light', cursive;
			font-size: 2.0em;
			color:$rouge;
		}
		p{
			font-size:1.2em;
		}
	}
	.image{
		width:40%;
		float:left;
		img{
			width:100%;
			margin:0 auto;
		}
	}
}

.poster{
	padding-left:40px;
	padding-right:20px;
	float:left;
}
.pub{
	float:right;
	width:20%;
	margin-right:100px;
	margin-top:50px;
}
.titres{
	margin-top:40px;
		.titre{
				font-family: 'Shadows Into Light', cursive;
				font-size: 2.5em;
				color:$rouge;
				display:inline;
				padding-right:20px;
	}
	.titreor{
		display:inline;
		font-size:1.5em;
		margin-top:40px;
		color:#8B8C8B;
	}
}
.note{
	float:right;
	font-family: 'Shadows Into Light', cursive;
	font-size: 2.8em;
	color:$rouge;
	font-weight:bold;
	margin-top:-100px;
	margin-right:300px;
}
.votes{
	float:right;
	margin-top:-25px;
	font-size:1.4em;
	margin-right:295px;
}
h2{
	font-family: 'Shadows Into Light', cursive;
	font-size: 2.0em;
	color:$rouge;
	padding-left:40px;
}

.movie-item{
	clear:both;
	.affiches{
		padding-left:40px;
		padding-right:20px;
		padding-bottom:30px;
		float:left;
	}
	a{
		text-decoration:none;
		.titrefilm{
			font-family: 'Shadows Into Light', cursive;
			font-size: 2.5em;
			color:$rouge;
		}
	}	
	.descfilm{
		font-size:1.4em;
		width:60%;
	}
	.eval{
		text-align:center;
		width:60%;
		margin-top:80px;
		.notefilm{
			font-family: 'Shadows Into Light', cursive;
			font-size: 2.8em;
			color:$rouge;
			font-weight:bold;
		}
		.votesfilm{
			font-size:1.4em;
		}
	}
	.publi{
		float:right;
		width:20%;
		padding-right:40px;
	}
}
.image-list{
	text-align:center;
}


@media screen and (max-width: 1880px) {
	.pub{
		display:none;
	}
}

@media screen and (max-width: 1380px) {
	.champ{
		display:none;
	}
	.bouton{
		display:none;
	}
	.texte{
		display:block !important;
		width:100% !important;
		padding:0 !important;
	}
	.image{
		width:100% !important;
	}
	.footer{
		height:200px !important;
		.history{
			display:none;
		}
		.icons{
			margin-top:40px !important;
		}
	}
	
	.publi{
		display:none;
	}
	.descfilm{
		width:100% !important;
	}
	.eval{
		width:100% !important;
	}
	
	.note{
		margin-right:40px !important;
	}
	.votes{
		margin-right:40px !important;
	}
}

@media screen and (max-width: 1200px) {
	.note{
		margin-right:40px !important;
		float:none !important;
		margin-top:0 !important;
	}
	.votes{
		margin-right:40px !important;
		float:none !important;
		margin-top:0 !important;
	}
}

@media screen and (max-width: 726px) {
	.footer{
		height:400px !important;
	}
	.col1{
		width:100% !important;
		border:none !important;
	}
	.col2{
		width:100% !important;
	}
	
	.affiches{
		display:block;
		margin:0 auto;
		float:none !important;
	}
	.titrefilm{
		text-align:center;
	}
	.descfilm{
		text-align:center;
	}
	.eval{
		margin-top:20px !important;
		margin-bottom:70px;
	}
}

@media screen and (max-width: 820px) {
	.header{
		height:216px !important;
		.navbar-brand{
			margin:0 auto !important;
			float:none !important;
			img{
				display:block;
				margin-left:auto;
				margin-right:auto;
			}
		}
		.navbar-nav{
			margin:0 auto !important;
			float:none !important;
			text-align:center;
		}
	}
}