<div class="movie-list">
  <div class="movie-item" ng-repeat="movie in main.movies track by movie.id">
  <a ng-href="#/movie/{{movie.id}}"><img class="affiches" ng-src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}" /></a>
    <a ng-href="#/movie/{{movie.id}}"><div class="titrefilm" ng-bind="movie.title"></div></a>
    <div class="descfilm" ng-bind="movie.overview"></div>
	<div class="eval">
		<div class="notefilm"><span ng-bind="movie.vote_average"></span>/10</div>
		<div class="votesfilm"><span ng-bind="movie.vote_count"></span> votes</div><br /><br/>
	</div>
	<img class="publi" src="images/pub.jpg" />
  </div>
</div>