<!-- Ce fichier HTML est le template de la page d'accueil :
Le code ci-dessous affiche une liste de films grâce à la balise ng-repeat.
Pour afficher une propriété du film il faut utliser la variable movie, ex : movie.title.
Ce template est associé à un controleur nommé main (voir app.js).
Ce fichier modifié/complété pour construire n'importe quelle structure html/css.
-->
<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><a href="http://localhost:9000/#/movie/284052"><img src="data1/images/doctor_strange.jpg" alt="Doctor Strange" title="Doctor Strange" id="wows1_0"/></a></li>
		<li><a href="http://localhost:9000/#/movie/328111"><img src="data1/images/comme_des_betes.jpg" alt="Comme des bêtes" title="Comme des bêtes" id="wows1_1"/></a></li>
		<li><a href="http://localhost:9000/#/movie/135397"><img src="data1/images/jurassic_world.jpg" alt="Jurassic World" title="Jurassic World" id="wows1_2"/></a></li>
		<li><a href="http://localhost:9000/#/movie/127380"><img src="data1/images/le_monde_de_dory.jpg" alt="Le Monde de Dory" title="Le Monde de Dory" id="wows1_3"/></a></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Doctor Strange"><span><img src="data1/tooltips/doctor_strange.jpg" alt="Doctor Strange"/>1</span></a>
		<a href="#" title="Comme des bêtes"><span><img src="data1/tooltips/comme_des_betes.jpg" alt="Comme des bêtes"/>2</span></a>
		<a href="#" title="Jurassic World"><span><img src="data1/tooltips/jurassic_world.jpg" alt="Jurassic World"/>3</span></a>
		<a href="#" title="Le Monde de Dory"><span><img src="data1/tooltips/le_monde_de_dory.jpg" alt="Le Monde de Dory"/>4</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">wow slider</a> by WOWSlider.com v8.7</div>
<div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->

<div id="pres-movieexp">
	<div class="texte">
		<h2>Qui sommes-nous ?</h2>
		<p>Et Epigonus quidem amictu tenus philosophus, ut apparuit, prece frustra temptata, sulcatis lateribus mortisque metu admoto turpi confessione cogitatorum socium, quae nulla erant, fuisse firmavit cum nec vidisset quicquam nec audisset penitus expers forensium rerum; Eusebius vero obiecta fidentius negans, suspensus in eodem gradu constantiae stetit latrocinium illud esse, non iudicium clamans.</p>

		<p>Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes annuos fructus, quae a primo ad ultimum solem se abunde iactitant possidere, ignorantes profecto maiores suos, per quos ita magnitudo Romana porrigitur, non divitiis eluxisse sed per bella saevissima, nec opibus nec victu nec indumentorum vilitate gregariis militibus discrepantes opposita cuncta superasse virtute.</p>

		<p>Tempore quo primis auspiciis in mundanum fulgorem surgeret victura dum erunt homines Roma, ut augeretur sublimibus incrementis, foedere pacis aeternae Virtus convenit atque Fortuna plerumque dissidentes, quarum si altera defuisset, ad perfectam non venerat summitatem.</p>
		
		<p>Et quia Montius inter dilancinantium manus spiritum efflaturus Epigonum et Eusebium nec professionem nec dignitatem ostendens aliquotiens increpabat, qui sint hi magna quaerebatur industria, et nequid intepesceret, Epigonus e Lycia philosophus ducitur et Eusebius ab Emissa Pittacas cognomento, concitatus orator, cum quaestor non hos sed tribunos fabricarum insimulasset promittentes armorum si novas res agitari conperissent.</p>

		<p>Constituendi autem sunt qui sint in amicitia fines et quasi termini diligendi. De quibus tres video sententias ferri, quarum nullam probo, unam, ut eodem modo erga amicum adfecti simus, quo erga nosmet ipsos, alteram, ut nostra in amicos benevolentia illorum erga nos benevolentiae pariter aequaliterque respondeat, tertiam, ut, quanti quisque se ipse facit, tanti fiat ab amicis.</p>
	</div>
	<div class="image">
		<img src="images/cinema.jpg" />
	</div>
</div>
	

<div class="movie-list">
  <div class="movie-item" ng-repeat="movie in main.movies track by movie.id">
    <a ng-href="#/movie/{{movie.id}}"><div ng-bind="movie.title"></div></a>
    <div ng-bind="movie.overview"></div>
  </div>
</div>