<!-- Cette vue affiche une fiche descriptive pour le film sélectionné.
Le controleur moveCtrl contient une propriété movie qui est le film selectionné.
Si il manque des propriétés/données, elles peuvent être inscrite en dur dans le code HTML. 
Ex : utiliser du lorem ipsum pour les commentaires.
-->


<img class="pub" src="images/pub.jpg" />
<img class="poster" ng-src="https://image.tmdb.org/t/p/w300{{ movieCtrl.movie.poster_path }}" />
<div class="titres">
	<div class="titre" ng-bind="movieCtrl.movie.title"></div>
	<div class="titreor" ng-bind="movieCtrl.movie.original_title"></div>
</div>
<div ng-bind="movieCtrl.movie.overview"></div>
<div class="rev">
	<div class="note"><span ng-bind="movieCtrl.movie.vote_average"></span>/10</div>
	<div class="votes"><span ng-bind="movieCtrl.movie.vote_count"></span> votes</div><br /><br/>
</div>
<h2>Commentaires</h2>
<div class="review-list">
    <div class="review" ng-repeat="review in movieCtrl.movie.reviews.results">
        <div>Author : <span ng-bind="review.author"></span></div>
        <div ng-bind="review.content | limitTo:140"></div><!-- LimitTo pour éviter les commentaires trop long, il faudra surrement utiliser une solution plus propre -->
        -----
    </div>
</div>
<br /><br /><br /><br />
<h2>En images</h2>
<div class="image-list">
    <img ng-src="{{ movieCtrl.getImageURL(image,'w300') }}" ng-repeat="image in movieCtrl.movie.images.backdrops" />
</div>
<h2>Bande-annoce</h2>
<iframe width="100%" height="1125" src="https://www.youtube.com/embed/bly7XM7QzSY" frameborder="0" allowfullscreen></iframe>
